@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans antialiased;
  }
}

@layer components {
  .section-padding {
    @apply py-16 md:py-24;
  }

  .container-custom {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }

  .section-title {
    @apply text-3xl md:text-4xl font-bold text-center mb-12;
  }

  .btn-primary {
    @apply bg-primary hover:bg-white hover:text-primary hover:border-primary border border-primary text-white px-5 py-2 rounded-xl font-semibold transition-colors duration-500 md:px-8 md:py-3;
  }
}
